# IDEA
.idea
*.iml

# Maven
target

# Sublime
*.sublime-project
*.sublime-workspace

# OS X
.DS_Store

# Eclipse
.project
.settings
.classpath
*.launch

# ui
/node_modules
/dist
/build
/.tmp
/.sass-cache
/bower_components
=======
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
