<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CattleCrew Case Management UI</title>
    <meta name="description" content="CattleCrew Case Management UI">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/timeline.css">
    <link rel="stylesheet" href="bower_components/dmn-js/dist/css/dmn-js.css">
    <!-- endbuild -->
  </head>
  <body ng-app="cattlecrewCaseManagementUiApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">CattleCrew Case Management UI</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
              <li ng-class="{active: selectedTab === 1 || selectedTab === undefined}"><a ng-click="selectedTab = 1" ng-href="#/">Dashboard</a></li>
              <li ng-class="{active: selectedTab === 2}"><a ng-click="selectedTab = 2" ng-href="#/newcase">New Case</a></li>
              <li ng-class="{active: selectedTab === 3}"><a ng-click="selectedTab = 3" ng-href="#/about">About</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
    <div ng-view=""></div>
    </div>

    <div class="footer">
      <div class="container-fluid">
        <p><span class="glyphicon glyphicon-heart"></span> from the OPITZ CONSULTING team</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/dmn-js/dist/dmn-viewer.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/directives/ccrtab.js"></script>
    <!-- custom controller -->
    <script src="scripts/controllers/dashboard.js"></script>
    <script src="scripts/controllers/casedetails.js"></script>
    <script src="scripts/controllers/cmmnrender.js"></script>
    <script src="scripts/controllers/dmnhistory.js"></script>
    <script src="scripts/controllers/casedetailsraw.js"></script>
    <script src="scripts/controllers/newcase.js"></script>
    <script src="scripts/controllers/about.js"></script>
    <!-- custom services -->
    <script src="scripts/services/caseService.js"></script>
    <script src="scripts/services/camundaCaseService.js"></script>
    <script src="scripts/services/camundaCacheService.js"></script>
    <script src="scripts/services/camundaConstantsService.js"></script>
    <script src="scripts/services/camundaDmnService.js"></script>
    <script src="scripts/services/utilService.js"></script>
    <script src="scripts/services/tabbingService.js"></script>
    <!-- Testimonial -->
    <!-- Camunda CMMN -->
    <script type="text/javascript" src="https://cdn.rawgit.com/bpmn-io/bower-cmmn-js/v0.1.0/dist/cmmn-navigated-viewer.js"></script>
    <!-- end Testimonial -->
    <!-- endbuild -->
</body>
</html>
