<div class="jumbotron">
  <h1>Case details</h1>

  <p class="lead">
    Details to selected case
  </p>
</div>

<div class="row marketing">

  <p>This is the case details view for case with id <kbd>{{case.data.details.id}}</kbd></p>

  <ul class="nav nav-tabs">
    <li class="active"><a ng-href="#/casedetails/{{case.data.details.id}}">Details</a></li>
    <li><a ng-href="#/cmmn/{{case.data.details.id}}">Rendered CMMN</a></li>
    <li><a ng-href="#/dmnhistory/{{case.data.details.id}}">DMN History</a></li>
    <li><a ng-href="#/casedetailsraw/{{case.data.details.id}}">Raw data</a></li>
  </ul>

  <div class="row top-buffer"> <!-- 1st row -->

    <div class="panel-group">

      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            <h4>Search</h4>
          </div>
          <div class="panel panel-body">
            <div>
              <strong>Panel Body 1</strong><br>
              bla bla bla<br>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            <h4>Claim Details</h4>
          </div>
          <div class="panel panel-body">
            <div>
              <strong>Title</strong><br>
              {{case.data.details.caseDefinition}}<br>
            </div>
            <div class="top-buffer">
              <strong class="top-buffer">state</strong><br>
              {{case.data.details.state}}<br>
            </div>
            <div class="top-buffer">
              <strong>Technical ID</strong><br>
              {{case.data.details.id}}<br>
            </div>
            <div class="top-buffer">
              <strong>Priority</strong><br>
              {{case.data.details.priority}}<br>
            </div>
            <div class="top-buffer">
              <strong>Created</strong><br>
              {{case.data.details.createByAsString}} at {{case.data.details.createDateAsString}}<br>
            </div>
            <div class="top-buffer">
              <strong>Last Edited</strong><br>
              {{case.data.details.updateByAsString}} at {{case.data.details.updateDateAsString}}<br>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            <h4>Audit trail<span class="badge pull-right">{{case.data.auditTrail.length}}</span></h4>
          </div>
          <div class="panel panel-body">
            <table class="table table-hover">
              <tbody>
              <tr ng-repeat="auditTrail in resultedAuditTrails = (case.data.auditTrail | orderBy: auditTrail.updatedDate : true)">
                <td>{{auditTrail.objectDisplayName}}</td>
                <td>{{auditTrail.updatedBy}} at {{auditTrail.updatedDateAsString}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            <h4>Available case activities <span class="badge pull-right">{{case.data.activities.length}}</span></h4>
          </div>
          <div class="panel panel-body">
            <table class="table table-hover">
              <tbody>
              <tr ng-repeat="activity in resultedActivities = (case.data.activities | orderBy: activity.displayName : false)">
                <td>
                  <a href ng-click="startActivity(activity)">{{activity.displayName}}</a>
                </td>
                <td ng-show="activity.isRepeatable == true"><span class="glyphicon glyphicon-repeat"></span></td>
                <td ng-show="activity.isRequired == true"><span class="glyphicon glyphicon-exclamation-sign"></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row top-buffer"> <!-- 2nd row -->

    <div class="panel-group">

      <div class="col-lg-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            Documents <span class="badge pull-right">{{case.data.documents.length}}</span>
          </div>
          <div class="panel panel-body">
            <table class="table table-hover">
              <tbody>
              <tr ng-repeat="document in resultedDocuments = (case.data.documents | orderBy: document.documentName : false)">
                <td><span class="glyphicon glyphicon-eye-open"></span></td>
                <td>
                  <a href ng-click="openURL(document.documentLink)">{{document.documentName}}</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div class="col-lg-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            Panel Header 6
          </div>
          <div class="panel panel-body">
            Panel Body 6
          </div>
        </div>

      </div>

      <div class="col-lg-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            What happened so far <span class="badge pull-right">{{case.data.milestones.length}}</span>
          </div>
          <div class="panel panel-body">
            Panel Body 7
          </div>
        </div>

      </div>

      <div class="col-lg-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            Case history <span class="badge pull-right">{{case.data.auditTrail.length}}</span>
          </div>
          <div class="panel panel-body">
            Panel Body 8
          </div>
        </div>

        <div class="panel panel-default top-buffer">
          <div class="panel panel-heading">
            Future activities <span class="badge pull-right">0</span>
          </div>
          <div class="panel panel-body">
            Panel Body 9
          </div>
        </div>

      </div>

    </div>

  </div>

</div>



