<div class="jumbotron">
  <h1>Case details</h1>

  <p class="lead">
    Details to selected case
  </p>
</div>

<div class="row marketing">

  <p>This is the case details view for case with id <kbd>{{case.data.details.id}}</kbd></p>

  <ul class="nav nav-tabs">
    <li class="active"><a ng-href="#/casedetails/{{case.data.details.id}}">Details</a></li>
    <li><a ng-href="#/cmmn/{{case.data.details.id}}">Rendered CMMN</a></li>
    <li><a ng-href="#/dmnhistory/{{case.data.details.id}}">DMN History</a></li>
    <li><a ng-href="#/casedetailsraw/{{case.data.details.id}}">Raw data</a></li>
  </ul>

  <div class="row top-buffer"> <!-- 1st row -->

    <div class="panel-group">

      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            Search
          </div>
          <div class="panel panel-body">
            Panel Body 1
          </div>
        </div>

      </div>

      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            Claim Details
          </div>
          <div class="panel panel-body">
            Panel Body 2
          </div>
        </div>

      </div>

      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            Audit trail
          </div>
          <div class="panel panel-body">
            Panel Body 3
          </div>
        </div>

      </div>

      <div class="col-md-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            Available case activities
          </div>
          <div class="panel panel-body">
            Panel Body 4
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="row top-buffer"> <!-- 2nd row -->

    <div class="panel-group">

      <div class="col-lg-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            Documents
          </div>
          <div class="panel panel-body">
            Panel Body 5
          </div>
        </div>

      </div>

      <div class="col-lg-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            Panel Header 6
          </div>
          <div class="panel panel-body">
            Panel Body 6
          </div>
        </div>

      </div>

      <div class="col-lg-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            What happened so far
          </div>
          <div class="panel panel-body">
            Panel Body 7
          </div>
        </div>

      </div>

      <div class="col-lg-3">

        <div class="panel panel-default">
          <div class="panel panel-heading">
            Case history
          </div>
          <div class="panel panel-body">
            Panel Body 8
          </div>
        </div>

        <div class="panel panel-default top-buffer">
          <div class="panel panel-heading">
            Future activities
          </div>
          <div class="panel panel-body">
            Panel Body 9
          </div>
        </div>

      </div>

    </div>

  </div>

</div>



