<div class="jumbotron">
  <h1>Rendered Case</h1>

  <p class="lead">
    Display case with id <kbd>{{case.data.details.id}}</kbd> as image
  </p>
</div>

<div class="row marketing">

  <ul class="nav nav-tabs">
    <li><a ng-href="#/casedetails/{{case.data.details.id}}">Details</a></li>
    <li class="active"><a ng-href="#/cmmn/{{case.data.details.id}}">Case image</a></li>
    <li><a ng-href="#/dmnhistory/{{case.data.details.id}}">Decision history</a></li>
    <li><a ng-href="#/casedetailsraw/{{case.data.details.id}}">Raw data</a></li>
  </ul>

  <div class="col-md-12 top-buffer">

    <section id="cmmn" class="group">

      <div id="cmmn-drop-zone">
        <div id="cmmnCanvas" style="height:500px;">
        </div>
      </div>

      <script>  // Cmmn model script
        $(document).ready(function () {
          $('#cmmnCanvas').children().remove(); // remove old content on reload
          var restAccess = 'http://localhost:8080/engine-rest';
          var CmmnViewer = window.CmmnJS; // CmmnViewer
          var viewer = new CmmnViewer({container: '#cmmnCanvas' });
          var container = $('#cmmn-drop-zone');
          $.get(restAccess + '/case-definition/key/claim_file/xml', function(data) {
            viewer.importXML(data.cmmnXml, function(err) {
              if (err) {
                console.log('error rendering cmmn', err);
              }
              console.log('rendered');
              var canvas = viewer.get('canvas');
              // zoom to fit full viewport
              canvas.zoom('fit-viewport');
              container.removeClass('with-error').addClass('with-diagram');
            });
          });
        });
      </script>
    </section>
  </div>


</div>



