<div class="jumbotron">
  <h1>Dashboard</h1>

  <p class="lead">
    Displaying all currently existing cases
  </p>
</div>

<div class="row marketing">

  <div class="col-md-12">

    <div class="table-responsive">

      <label for="searchText">Suchen</label>
      <input id="searchText" type="text" placeholder="Search..." ng-model="searchText">
      <a class="clear" ng-click="searchText=''"><span class="glyphicon glyphicon-remove"></span></a>

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Business ID</th>
          <th>Art</th>
          <th>Technical ID</th>
          <th>Priorität</th>
          <th>Bearbeiter</th>
          <th>Zuletzt bearbeitet</th>
          <th>Aktiv?</th>
          <th>Abgeschlossen?</th>
          <th>Abgebrochen?</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="case in filteredCases = (cases | orderBy: 'id' | filter: searchText)">
          <td>{{case.businessKey}}</td>
          <td>Claim File</td>
          <td>{{case.id}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{case.active}}</td>
          <td>{{case.completed}}</td>
          <td>{{case.terminated}}</td>
          <td>
            <a ng-href="#/casedetails/{{case.id}}"><span class="glyphicon glyphicon-zoom-in"></span></a>
          </td>
        </tr>
        </tbody>
      </table>

      <p class="text-right">Es werden {{filteredCases.length}} Cases angezeigt</p>
    </div>

  </div>

</div>
