<div class="jumbotron">
  <h1>Dashboard</h1>

  <p class="lead">
    Displaying all currently existing cases
  </p>
</div>

<div class="row marketing">

  <div class="col-md-12">

    <div class="table-responsive">

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Case Name</th>
          <th>Case Definition</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Claim File</td>
          <td>claimfile.cmmn</td>
          <td>In Progress</td>
          <td>Details</td>
        </tr>
        <tr>
          <td>Claim Case</td>
          <td>claimcase.cmmn</td>
          <td>Ended</td>
          <td>Details</td>
        </tr>
        <tr>
          <td>Claim File</td>
          <td>claimfile.cmmn</td>
          <td>Ended</td>
          <td>Details</td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
