<div class="jumbotron">
  <h1>Dashboard</h1>

  <p class="lead">
    Displaying all currently existing cases
  </p>
</div>

<div class="row marketing">

  <div class="col-md-12">

    <div class="table-responsive">

      <table class="table table-hover">
        <thead>
        <tr>
          <th>Nummer</th>
          <th>Priorität</th>
          <th>Name</th>
          <th>Titel</th>
          <th>Ersteller (Aktualisiert von)</th>
          <th>Zuletzt bearbeitet</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>44</td>
          <td>Hoch</td>
          <td>Claim File</td>
          <td>claimfile.cmmn</td>
          <td>Max Mustermann</td>
          <td>24.11.2015</td>
          <td>Neu</td>
          <td><a href=""><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
        <tr>
          <td>30</td>
          <td>Mittel</td>
          <td>Claim Case</td>
          <td>claimcase.cmmn</td>
          <td>Rudi Rüssel</td>
          <td>01.11.2015</td>
          <td>Abgeschlossen</td>
          <td><a href=""><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
        <tr>
          <td>15</td>
          <td>Niedrig</td>
          <td>Claim File</td>
          <td>claimfile.cmmn</td>
          <td>Daisy Duck</td>
          <td>15.10.2015</td>
          <td>In Bearbeitung</td>
          <td><a href=""><span class="glyphicon glyphicon-pencil"></span></a></td>
        </tr>
        </tbody>
      </table>

    </div>

  </div>

</div>
