<div class="masterDiv container row">
	<div class="leftColumn col-md-3">
		<div class="searchDiv well">
			<label for="detailsSearch">Search</label>
			<input type="text" id="detailsSearch" placeholder="full text search" class="form-control"/>
		</div>
		<div class="detailDiv well">
			<h3>Details</h3>
			<span class="keySpan row">Title</span><span class="valueSpan"></span>
			<span class="keySpan row">Status</span><span class="valueSpan"></span>
			<span class="keySpan row">Instance Id</span><span class="valueSpan"></span>
			<span class="keySpan row">Priority</span><span class="valueSpan"></span>
			<span class="keySpan row">Creator</span><span class="valueSpan"></span>
			<span class="keySpan row">Creation date</span><span class="valueSpan"></span>
			<span class="keySpan row">Title</span><span class="valueSpan"></span>
		</div>

	</div>
	<div class="centerColumn col-md-6">
		<div class="protocolDiv well">
			<h2>Protocol</h2>
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="#">All</a></li>
  				<li role="presentation"><a href="#">Data</a></li>
  				<li role="presentation"><a href="#">Milestones</a></li>
  				<li role="presentation"><a href="#">Activities</a></li>
  				<li role="presentation"><a href="#">User</a></li>
  				<li role="presentation"><a href="#">Comments</a></li>
  				<li role="presentation"><a href="#">Documents</a></li>
			</ul>
		</div>
		<div class="milestoneDiv well">
			<h2>Milestones</h2>
		</div>
	</div>
	<div class="rightColumn col-md-3">
		<div class="actionDiv well">
			<h2>Actions</h2>
		</div>
		<div class="historyDiv well">
			<h2>History</h2>
		</div>
		<div class= "futureActionDiv well">
			<h2>Future actions</h2>
		</div>
	</div>
</div>
