<div class="masterDiv container row">
	<div class="leftColumn col-md-3">
		<div class="searchDiv well">
			<label for="detailsSearch">Search</label>
			<input type="text" id="detailsSearch" placeholder="full text search" class="form-control"/>
		</div>
		<div class="detailDiv well">
			<h3>Details</h3>
			<p ng-bind="case.id"></p>
			<ul class="list-group" >
				<li class="list-group-item" ng-bind-template="Status: {{case.status}}"/>
				<li class="list-group-item" ng-bind-template="BusinessKey: {{case.businessKey}}"/>
				<li class="list-group-item" ng-bind-template="Priority: {{case.priority}}"/>
				<li class="list-group-item" ng-bind-template="Creator: {{case.createUserId}}"/>
				<li class="list-group-item" ng-bind-template="Creation date: {{case.creationDate}}"/>
				<li class="list-group-item" ng-bind-template="Updated by: {{case.updatedBy}}"/>
			</ul>
		</div>
	</div>
	<div class="centerColumn col-md-6">
		<div class="protocolDiv well ">
			<h2>Protocol</h2>
			<ul class="nav nav-tabs">
				<li role="presentation" data-toggle="tab" class="active"><a ccrtab="" href="#all">All</a></li>
  				<li role="presentation" data-toggle="tab"><a ccrtab="" href="#milestones">Milestones</a></li>
  				<li role="presentation" data-toggle="tab"><a ccrtab="" href="#activities">Activities</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade active" id="all">
					<p>data goes here</p>
				</div>
				<div class="tab-pane fade" id="milestone">
					<p>milestones go here</p>
				</div>
				<div class="tab-pane fade" id="activies">
					<p>activities go here</p>
				</div>
			</div>
		</div>
	</div>
	<div class="rightColumn col-md-3">
		<div class="actionDiv well">
	 		<h2>Available actions</h2>
			<div ng-repeat="activity in enabledActivities">
				<button class="btn button-default glyphicon glyphicon-{{activity.caseActivityType == 'humanTask' ? 'user' : 'cog' }}" ng-click="toggleStartActivityDialog(activity.caseActivityId,activity.caseActivityName)">{{activity.caseActivityName}} </button>
			</div> 
		</div>
		<div class="historyDiv well">
			<h2>Case history</h2>
		</div>
		<div class= "futureActionDiv well">
			<h2>Future actions</h2>
		</div>
		<div class="milestoneDiv well">
			<h2>Milestones</h2>
                        <div ng-repeat="milestone in milestones | orderBy: 'createTime' ">
				<span class="btn {{milestone.completed  ? 'label-success' : 'label-default'}}" >{{milestone.caseActivityName}}</span>
			</div>
		</div>
	</div>
</div>
