<div class="masterDiv container row">
	<div class="leftColumn col-md-3">
		<div class="searchDiv well">
			<label for="detailsSearch">Search</label>
			<input type="text" id="detailsSearch" placeholder="full text search" class="form-control"/>
		</div>
		<div class="detailDiv well">
			<h3>Details</h3>
			<h3 ng-bind="case.id"></h3>
			<ul class="list-group" >
				<li class="list-group-item" ng-bind-template="Status: {{case.status}}"/>
				<li class="list-group-item" ng-bind-template="businessKey: {{case.businessKey}}"/>
				<li class="list-group-item" nng-bind-template="Priority: {{case.priority}}"/>
				<li class="list-group-item" nng-bind-template="Creator: {{case.creator}}"/>
				<li class="list-group-item" nng-bind-template="Creation date: {{case.creationDate}}"/>
				<li class="list-group-item" nng-bind-template="Updated by: {{case.updatedBy}}"/>
				<li class="list-group-item" nng-bind-template="caseDefinitionId: {{case.updatedBy}}"/>
			</ul>
		</div>
	</div>
	<div class="centerColumn col-md-6">
		<div class="protocolDiv well">
			<h2>Protocol</h2>
			<ul class="nav nav-tabs">
				<li role="presentation" class="active"><a href="#">All</a></li>
  				<li role="presentation"><a href="#data">Data</a></li>
  				<li role="presentation"><a href="#milestones">Milestones</a></li>
  				<li role="presentation"><a href="#activities">Activities</a></li>
  				<li role="presentation"><a href="#user">User</a></li>
  				<li role="presentation"><a href="#comments">Comments</a></li>
			</ul>
		</div>
		<div class="tab-content">
			<div class="tab-pane active" id="data">
				<p>data goes here</p>
			</div>
			<div class="tab-pane" id="milestone">
				<p>milestones go here</p>
			</div>
			<div class="tab-pane" id="activies">
				<p>activities go here</p>
			</div>
			<div class="tab-pane " id="user">
				<p>users go here</p>
			</div>
			<div class="tab-pane " id="comments">
				<p>comments go here</p>
			</div>

		</div>
	</div>
	<div class="rightColumn col-md-3">
		<div class="actionDiv well">
			<h2>Actions</h2>
		</div>
		<div class="historyDiv well">
			<h2>History</h2>
		</div>
		<div class= "futureActionDiv well">
			<h2>Future actions</h2>
		</div>
		<div class="milestoneDiv well">
			<h2>Milestones</h2>
		</div>
	</div>
</div>
