<div class="jumbotron">
  <h1>Decision History</h1>

  <p class="lead">
    History about made decisions for case
  </p>
</div>

<div class="row marketing">

  <ul class="nav nav-tabs">
    <li><a ng-href="#/casedetails/{{case.data.details.id}}">Details</a></li>
    <li><a ng-href="#/cmmn/{{case.data.details.id}}">Case image</a></li>
    <li class="active"><a ng-href="#/dmnhistory/{{case.data.details.id}}">Decision history</a></li>
    <li><a ng-href="#/casedetailsraw/{{case.data.details.id}}">Raw data</a></li>
  </ul>

  <div class="row top-buffer">

    <div class="panel-group">

      <div class="col-md-12">

        <div class="panel panel-default" ng-if="case.data.decisions[0].decisionInstances.length > 0"
             ng-repeat="process in resultedProcesses = (case.data.decisions | orderBy: process.endTime : true)">
          <div class="panel panel-heading">
            <h4>Decisions in process {{process.processDefinition.name}} <span class="badge pull-right">{{process.decisionInstances.length}}</span>
            </h4>
          </div>
          <div class="panel panel-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Activity</th>
                  <th>Input</th>
                  <th>Output</th>
                  <th>Decision table</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="decisionInstance in resultedDecisionInstances = (process.decisionInstances | orderBy: decisionInstance.evaluationTime : true)">
                  <td> <!-- Details -->
                    <div>
                      <strong>Called by activity</strong><br>
                      {{decisionInstance.calledByProcessActivity.activityName}}<br>
                    </div>
                    <div class="top-buffer">
                      <strong>Decision table</strong><br>
                      {{decisionInstance.decisionDefinition.name}}<br>
                    </div>
                    <div class="top-buffer">
                      <strong>Decision table version</strong><br>
                      {{decisionInstance.decisionDefinition.version}}<br>
                    </div>
                    <div class="top-buffer">
                      <strong>Evaluation Time</strong><br>
                      {{decisionInstance.evaluationTime | date : 'dd.MM.yyyy HH:mm'}}<br>
                    </div>
                  </td>
                  <td> <!-- Inputs -->
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>Name</th>
                          <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="input in resultedInputs = (decisionInstance.inputs)">
                          <td>{{input.clauseName}}</td>
                          <td>{{input.value}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                  <td> <!-- Outputs -->
                    <div class="table-responsive">
                      <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                          <th>Name</th>
                          <th>Value</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="output in resultedOutputs = (decisionInstance.outputs)">
                          <td>{{output.clauseName}}</td>
                          <td>{{output.value}}</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </td>
                  <td> <!-- Decision table -->
                    <div id="myDiv" style="visibility: visible;">
                      {{decisionInstance.decisionDefinitionId}}
                    </div>
                      <div id="dmn-drop-zone">
                        <div id="dmnCanvas"></div>
                      </div>
                      <script> // Decision table script
                        $(document).ready(function() {
//                          console.log('--------' + $("#myDiv").scope().decisionInstance.decisionDefinitionId);
//                          console.log('--------' + angular.element(document.querySelector('#myDiv')).scope().text());
                          $('#dmnCanvas').children().remove(); // remove old tables on reload
                          var restAccess = 'http://localhost:8080/engine-rest';
                          var DmnModeler = window.DmnJS;
                          var viewer = new DmnModeler({ container: '#dmnCanvas' });
                          $.get(restAccess + '/decision-definition/key/qualificationNeeded/xml', function(data) {
                            viewer.importXML(data.dmnXml, function(err) {
                              if (err) {
                                console.log('error rendering dmn', err);
                              }
                              // re-render to apply new renderer
                              viewer.get('elementRegistry').forEach(function(element, gfx) {
                                viewer.get('graphicsFactory').update(element._type, element, gfx);
                              });
                            });
                          });
                        });
                      </script>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>



