<div class="jumbotron">
  <h1>DMN History</h1>

  <p class="lead">
    History about decisions made
  </p>
</div>

<div class="row marketing">

  <p>This is the DMN history view for case with id <kbd>{{case.data.details.id}}</kbd></p>

  <ul class="nav nav-tabs">
    <li><a ng-href="#/casedetails/{{case.data.details.id}}">Details</a></li>
    <li><a ng-href="#/cmmn/{{case.data.details.id}}">Rendered CMMN</a></li>
    <li class="active"><a ng-href="#/dmnhistory/{{case.data.details.id}}">DMN History</a></li>
    <li><a ng-href="#/casedetailsraw/{{case.data.details.id}}">Raw data</a></li>
  </ul>

  <div class="col-md-12 top-buffer">
  </div>

</div>



