<div class="jumbotron">
  <h1>New Case</h1>

  <p class="lead">
    Create and initialize a new case
  </p>
</div>

<div class="row marketing">

  <div class="col-md-12">

    <div class="row"> <!-- 1st row -->

      <div class="col-md-4">
        <h3>Select a case</h3>
      </div>

      <div class="col-md-4" ng-show="selectedCaseDefinition != null">
        <h3>Create a new instance of {{selectedCaseDefinition.key}} case</h3>
      </div>

      <div class="col-md-4">
      </div>

    </div>

    <div class="row"> <!-- 2nd row -->

      <div class="col-md-4">
        <div class="list-group">
          <div ng-repeat="caseDefinition in caseDefinitionsArrayContainer.caseDefinitionList">
            <a ng-click="setSelectedCaseDefinition(caseDefinition)" href="#/newcase" class="list-group-item">
              <h4 class="list-group-item-heading">{{caseDefinition.key}}</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="col-md-4 well" ng-show="selectedCaseDefinition != null">

          <form>
            <div class="form-group">
              <label for="businessKey">Business Key</label>
              <input type="text" class="form-control" id="businessKey" placeholder="Business Key" ng-model="requestData.businessKey" required>
            </div>

            <div class="form-group">
              <label for="priority">Priority</label>
              <select class="form-control" id="priority" ng-model="requestData.variables.priority.value" required>
                <option value="">-- Select --</option>
                <option value="High">High</option>
                <option value="Normal">Normal</option>
                <option value="Low">Low</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-lg pull-right" ng-click="createCaseInstance(selectedCaseDefinition.key); goToDashboardView()">Create</button>
              <button type="reset" class="btn btn-primary btn-lg pull-left"value="Reset">Reset</button>
            </div>
          </form>

      </div>

      <div class="col-md-4">
      </div>

    </div>

    <div class="row"> <!-- 3rd row -->

      <div class="col-md-12">
        <a ng-click="goToListView()" href="">Zurück zur Übersicht</a>
      </div>

    </div>

  </div>

</div>
